
 

   <div class="container mt-15">

    <div class="row g-4">
      <!-- Card 1 -->
      <div class="col-md-4 col-sm-6">
        <div class="card h-100 border-0 shadow">
          <div class="card-header text-white bg-success d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Add New Voter</h5>
          </div>
          <div class="card-body">
            <h6 class="card-title">Fill Form if you are 18 years or above or you will turn 18 in few months</h6>
          </div>
          <div class="card-footer bg-white border-0 text-center">
            <button class="btn btn-warning w-100" routerLink="/admin/add-voter">Add voter</button>
          </div>
        </div>
      </div>
  
      <!-- Card 2 -->
      <div class="col-md-4 col-sm-6">
        <div class="card h-100 border-0 shadow">
          <div class="card-header text-white bg-primary d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Update Deatils</h5>
          </div>
          <div class="card-body">
            <h6 class="card-title">If you need to change or correct your details, click the 'Update Voter' button to update your information.</h6>
          </div>
          <div class="card-footer bg-white border-0 text-center">
            <button class="btn btn-warning w-100" routerLink="/admin/update-voter">Update Voter</button>
          </div>
        </div>
      </div>
  
      <!-- Card 3 -->
      <div class="col-md-4 col-sm-6">
        <div class="card h-100 border-0 shadow">
          <div class="card-header text-white bg-secondary d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Online voting Poll</h5>
          </div>
          <div class="card-body">
            <h6 class="card-title">If you are eligible to vote, you can cast your vote only once. Please ensure you make your choice carefully before submitting.</h6>
          </div>
          <div class="card-footer bg-white border-0 text-center">
            <button class="btn btn-warning w-100" routerLink="/pick-vote">Pick Vote</button>
          </div>
        </div>
      </div>
    </div>
  </div>